<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Listado de películas</h3>
  </div>

  <div class="panel-body">


    <div class="alert alert-danger" ng-show="main.error">
      Error cargando lista de peliculas
    </div>

    <table ng-hide="main.error" class="table table-responsive table-hover table-striped table-condensed table-bordered">
      <thead>
      <tr>
        <th ng-click="main.setOrder('movie_title')">
          Título
          <span ng-show="main.orderBy == 'movie_title' && !main.reverse" class="glyphicon glyphicon-chevron-up"></span>
          <span ng-show="main.orderBy == 'movie_title' && main.reverse" class="glyphicon glyphicon-chevron-down"></span>
        </th>
        <th ng-click="main.setOrder(main.runtimeNumber)">
          Duración
          <span ng-show="main.orderBy == runtimeJustNumber && !main.reverse" class="glyphicon glyphicon-chevron-up"></span>
          <span ng-show="main.orderBy == runtimeJustNumber && main.reverse" class="glyphicon glyphicon-chevron-down"></span>
        </th>
        <th ng-click="main.setOrder('movie_release_date')">
          Fecha de estreno
          <span ng-show="main.orderBy == 'movie_release_date' && !main.reverse" class="glyphicon glyphicon-chevron-up"></span>
          <span ng-show="main.orderBy == 'movie_release_date' && main.reverse" class="glyphicon glyphicon-chevron-down"></span>
        </th>
        <th ng-click="main.setOrder('movie_rating_imdb')">
          Nota IMDB
          <span ng-show="main.orderBy == 'movie_rating_imdb' && !main.reverse" class="glyphicon glyphicon-chevron-up"></span>
          <span ng-show="main.orderBy == 'movie_rating_imdb' && main.reverse" class="glyphicon glyphicon-chevron-down"></span>
        </th>
        <th ng-click="main.setOrder('movie_rating_fa')">
          Nota Filmaffinity
          <span ng-show="main.orderBy == 'movie_rating_fa' && !main.reverse" class="glyphicon glyphicon-chevron-up"></span>
          <span ng-show="main.orderBy == 'movie_rating_fa' && main.reverse" class="glyphicon glyphicon-chevron-down"></span>
        </th>
        <th>Detalles</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td colspan=6 ng-show="main.movies.length == 0">Cargando peliculas...</td>
      </tr>

      <tr ng-repeat="movie in main.movies | filter: main.filterText | orderBy: main.orderBy : main.reverse">
        <td>{{ movie.movie_title}}</td>
        <td>{{ movie.movie_runtime }}</td>
        <td>{{ movie.movie_release_date }}</td>
        <td>{{ movie.movie_rating_imdb }}</td>
        <td>{{ movie.movie_rating_fa }}</td>
        <td ng-switch="movie.movie_id_normalized">
          <span ng-switch-when="-">Detalle no disponible</span>
          <a ng-switch-default ng-href="#detail/{{movie.movie_id_normalized}}">Ver detalle</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>


